<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 <hibernate-configuration>
 <session-factory>
  <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
  <property name="connection.url">@@SQLSERVER_URL@@</property>
  <property name="connection.username">@@SQLSERVER_USER@@</property>
  <property name="connection.password">@@SQLSERVER_PWD@@</property>
  <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
  <property name="show_sql">false</property>
  <property name="hibernate.jdbc.batch_size">50</property>
  <property name="hibernate.cache.use_second_level_cache">false</property>
  <property name="hibernate.cglib.use_reflection_optimizer">false</property>


  <mapping resource="com/calander/beans/Calander.hbm.xml" />


  </session-factory>
  </hibernate-configuration>
