<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <param-name>application</param-name>
        <param-value>resources.application</param-value>
    </context-param>

    <listener>
        <listener-class>dts.legacy.utils.SessionTrackingListener</listener-class>
    </listener>

    <filter>
        <filter-name>healthCheckFilter</filter-name>
        <filter-class>dts.legacy.utils.HealthCheckFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>healthCheckFilter</filter-name>
        <url-pattern>/health</url-pattern>
    </filter-mapping>

    <!-- Implement Rate Limiting inside tomcat to prevent DOS from external data scrapers -->
    <filter>
        <!-- <filter-name>RateLimitFilter</filter-name> -->
        <!-- <filter-class>org.apache.catalina.filters.RateLimitFilter</filter-class> -->
        <filter-name>RateLimitFilter</filter-name>
        <filter-class>dts.legacy.utils.RateLimiter</filter-class>
        <init-param>
            <param-name>bucketRequests</param-name>
            <param-value>10</param-value>  <!-- allow 10 requests per bucketDuration -->
        </init-param>
        <init-param>
            <param-name>bucketDuration</param-name>
            <param-value>60</param-value>  <!-- 60 seconds window -->
        </init-param>
        <init-param>
            <param-name>statusCode</param-name>
            <param-value>429</param-value>
        </init-param>
        <!-- enforce default = true; you could also set enforce=false if you want to handle blocking logic yourself -->
    </filter>

    <filter-mapping>
        <filter-name>RateLimitFilter</filter-name>
        <url-pattern>/search.do</url-pattern>
    </filter-mapping>


    <!-- session timeout -->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic-el.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-logic-el.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean-el.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-bean-el.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html-el.tld</taglib-uri>
            <taglib-location>/WEB-INF/struts-html-el.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/displaytag.tld</taglib-uri>
            <taglib-location>/WEB-INF/displaytag.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/c.tld</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
    </jsp-config>

    <!-- Avoid default tomcat error handling -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>429</error-code>
        <location>/error-limit.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>

</web-app>
