#ignore build files
build/*
#ignore deploy
deploy/*

#Ignore compiled code
WEB-INF/classes/au/*
WEB-INF/classes/com/*

#ignore NPM modules
node_modules/*

#Ignore IDE FILES
.idea/*
WEB-INF/WEB-INF.iml
.classpath
.project

#Ignore Thumbs.db files
Thumbs.db
/bin
