<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/* Shared stylesheet/script includes, ported from the legacy JSP template.
           Paths are absolute (legacy used relative paths, which only worked because
           every legacy URL was top-level) */-->
    <th:block th:fragment="head-assets">
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/asset/css/dg.css"/>

        <link rel="alternate stylesheet" type="text/css" href="/asset/css/standard.css" title="Standard"/>
        <link rel="alternate stylesheet" type="text/css" href="/asset/css/larger.css" title="Larger"/>
        <link rel="alternate stylesheet" type="text/css" href="/asset/css/largest.css" title="Largest"/>
        <link rel="stylesheet" type="text/css" href="/asset/css/complex_table.css"/>

        <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon"/>

        <script language="JavaScript" type="text/javascript" src="/js/cal.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/sort.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/dg.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/complextable.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/print.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/general.js"></script>
    </th:block>
</head>
<body>

<th:block th:fragment="page-open">
    <a name="top" id="top"></a>
    <div class="iewrapper">
        <div class="wrapper">
            <a href="#Heading" class="access">Go to main content</a>
            <div class="printlogo">
                <img src="/images/printlogo.gif" alt="Justice logo"/>
            </div>
            <div class="innerwrapper">
                <div class="onecolfloat">
                    <div class="onecolblock">
                        <div id="Section">
                            <div id="TextSize">
                                <a href="http://www.direct.gov.uk/en/Hl1/Help/Accessibility/index.htm" class="nojs">Resize
                                    text help</a>
                            </div>
                            <div id="Heading">
                                <h1>Case Tracker for Civil Appeals</h1>
                            </div>
                        </div>
</th:block>

<th:block th:fragment="page-close">
                    </div>
                </div>
            </div>

            <div id="Footer">
                <div class="holder">
                    <ul>
                        <li><a href="https://www.justice.gov.uk/privacy">Your privacy</a></li>
                        <li><a href="https://www.justice.gov.uk/copyright">&copy; Crown copyright</a></li>
                    </ul>
                </div>
            </div>

            <!-- Include the Top Bar here -->
            <div id="TopBar">
                <div class="holder">
                    <span class="tl"></span><span class="tr"><span></span></span>
                    <a href="http://www.justice.gov.uk/index.htm" tabindex="1"><img src="/images/logo.png"
                                                                                    alt="Link to the Justice homepage"/></a>
                </div>
            </div>
            <!-- End of Top Bar -->

        </div>
    </div>
</th:block>

</body>
</html>
