<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <!-- THE FOLLOWING PROPERTIES ARE ADDED DYNAMICALLY BASED ON ENV -->
        <!--<property name="connection.url">jdbc:jtds:sqlserver://HOSTNAME:PORT/DATABASE</property>-->
        <!--<property name="connection.username">USERNAME</property>-->
        <!--<property name="connection.password">PASSWORD</property>-->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cglib.use_reflection_optimizer">false</property>
        <mapping resource="com/calander/beans/Calander.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
